<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/static/bootstrap-4.5.3/css/bootstrap.min.css" />
    <%# <link rel="icon" href="images/favicon.png" /> %>
    <link rel="icon" href="/static/rss-fill.svg" />

    <title>Living in Syndication</title>
  </head>

  <body>
    <div class="container">
    <h1>
      <a href="https://gitlab.com/ericlathrop/living_in_syndication">
        <svg id="rss-logo" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-rss-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5a1 1 0 0 0 0 2 8 8 0 0 1 8 8 1 1 0 1 0 2 0c0-5.523-4.477-10-10-10zm0 4a1 1 0 0 0 0 2 4 4 0 0 1 4 4 1 1 0 1 0 2 0 6 6 0 0 0-6-6zm.5 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
        </svg>
        Living in Syndication
      </a>
    </h1>

      <div class="row">
        <%= for {_module, metadata = %RssGenerator.Metadata{name: name, url: url, params: params}} <- assigns.generators do %>
          <div class="card bg-light m-3" style="width: 18rem;">
            <div class="card-body">
              <a href="<%= url %>">
                <%= name %>
              </a>
            </div>
            <div class="card-body">
              <form method="get" action="<%= RssGenerator.Metadata.rss_path(metadata) %>">
                <%= for param <- params do %>
                  <%= RssGenerator.Param.as_html(param, metadata) %>
                <% end %>

                <input type="submit" class="btn btn-primary" value="Get RSS" />
              </form>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%# <script src="/static/bootstrap-4.5.3/js/bootstrap.min.js"></script> %>
    <script src="/static/index.js"></script>
  </body>
</html>
